<p>Hey <%= @reciever%> </p>

<p>
  You have an interview scheduled.<br>
  Topic : <%= @topic %> <br>
  Date : <%= @date %> <br>
  Start time : <%= @start %> <br>
  End time : <%= @finish %> <br>
  Description : <%= @desc %>
</p>
